/* AdmissionStatusPage.css */

/* Page Styles */
div {
  text-align: right;
  padding: 10px;
  direction: rtl;
  display: 'flex';
align-items: 'center';
  width: '100%';
}

/* Form Styles */
div.AdmissionStatusPage > h1 {
  margin-bottom: 20px;
}

div.AdmissionStatusPage .form-container {
  display: flex;
  align-items: center;
  width: 100%;
}

label {
  margin-right: 10px;
}


/* Table Styles */
table {
  margin-top: 40px;
  border-collapse: collapse;
  width: 95%;
  font-size:20px;
  white-space: nowrap;
  overflow-x: auto;
}

th, td {
  border: 1px solid #1f1a1a;
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}
@media only screen and (orientation: portrait) {
    /* styles for portrait orientation */
    }
    
    @media only screen and (orientation: landscape) {
    /* styles for landscape orientation */
    }